@{
    ViewData["Title"] = "Home";
}

<h3>Holiday Guru</h3>

<p>
    Welcome to Holiday Guru, the place where you can find out
    what holiday brochures forget to say!
</p>


@Html.ActionLink("Add Review", "AddReview")
