@{
    ViewData["Title"] = "Manage Product Suggestions";
}

@section Scripts {
    <script src="~/js/ProductSuggestionsManage.js"></script>
}

<input type="text" id="id" placeholder="id" />
<button onclick="getProductSuggestion()">Get</button>
<br />

<input type="text" id="description" placeholder="description" />
<br />

<input type="text" id="minPrice" placeholder="mininum price" />
<br />

<input type="text" id="maxPrice" placeholder="maximum price" />
<br />

<input type="text" id="estimatedSales" placeholder="estimated sales" />
<br />

<button onclick="insertProductSuggestion()">Insert</button>
<button onclick="updateProductSuggestion()">Update</button>
<button onclick="deleteProductSuggestion()">Delete</button>
