@model MySite.Models.Dimentions
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/gameOfLife.css" />
<script src="~/js/Life.js"></script>
<style>

</style>
<div id="myModal" class="customModal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span> (The css is borked...)
        <p>To set a cell as "alive", just click on it. When you have activated as many cells as you wish, press "RUN" and the simulation will start. </p>
        <p>There are many configurations that will "live" and create unpredictable interactions and results. <br />
            A example of a collection that will live and move is the "Glider"<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0zrG-JvO_R1z5YcaYPmT2ukIK1brxEA1aCQ&usqp=CAU" /></p>
    </div>

</div>
<div class="mainWrapper">
    <div id="Game" class="gameWrapper" onclick="gameOfLife.GetState()"></div>
    <div class="infoPanel  text-lg-left">
        <p>
            <h4 class="text-center subHeader">Conways game of life</h4>
            <p>
                This is the cellular automaton known as "Conways game of life".
                The "game" is driven by three simple rules:
                <ol>
                    <li>A cell will die if it has less than two neighbors.</li>
                    <li>A cell will continue to live or come back to life if it has two or three neighbors.</li>
                    <li>A cell will die if it has more than three neighbors</li>
                </ol>
            </p>
        </p>

        <button id="runButton" class="text-center" onclick="run()">RUN</button>
    </div>
</div>

<script>
    let dom = document.getElementById("Game");
    let gameOfLife;
    let i;
    window.onload = function () { gameOfLife = new Life(@Model.GameCellsX, @Model.GameCellsY, @Model.Width, @Model.Height, dom) }
    function run() {
        i = setInterval(oneCycle, 100);
    }
    function oneCycle() {
        gameOfLife.OneStep();
        gameOfLife.SetState();
    }
    function stop() {
        clearInterval(i);
    }
</script>
<script src="~/js/ModalsAndStuff.js"></script>